{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block content %}

<h1>{{ article.title }}</h1>
<div class=date>{{ article.locale_date }}
{% if article.tags %}
 / <span class="tags">
  {% for tag in article.tags %}
  <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag|e }}</a>
  {% endfor %}
</span>
{% endif %}
</div>

{{ article.content }}
<script>
var idcomments_acct = 'a9caf2a73f0584fce57ce54adee072f2';
var idcomments_post_id;
var idcomments_post_url;
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
<script>
var idcomments_acct = 'a9caf2a73f0584fce57ce54adee072f2';
var idcomments_post_id;
var idcomments_post_url;
</script>
<script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>


{% endblock %}
